@use 'variables';
@use 'mixin';

//=====================================
// pcヘッダーのスタイル
//=====================================
.pc-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: variables.$bg__color;
  z-index: 20;

  @include mixin.sp {
    display: none;
  }

  .header_inner {
    height: 65px;
    margin-left: 50px;
    align-items: center;
    justify-content: space-between;

    // ヘッダーロゴ
    .header-logo_wrapper {
      width: 64px;

      .link {
        display: block;
        height: 100%;
      }
    }

    // ヘッダーロゴはここまで

    // ヘッダーナビ
    .header-nav_container {
      height: 100%;
      align-items: center;

      // ナビリスト
      .header-nav-list {
        margin-right: 30px;

        .header-nav-list-item {

          &:not(:last-child) {
            &::after {
              content: '/';
              display: inline-block;
              margin: 0 10px;
            }
          }
        }
      }

      // ナビリストはここまで

      // ヘッダーボタン
      .btn_container {
        height: 100%;

        .reserve-btn {
          .link {
            display: flex;
            width: 90px;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-color: variables.$reserve-btn__color;
            color: variables.$accent-txt__color;
            font-family: 'Noto Serif JP', serif;
            font-weight: bold;
          }
        }

        .instagram-btn {
          .link {
            display: flex;
            width: 65px;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-color: variables.$instagram-btn__color;

            .instagram-logo {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      // ヘッダーボタンはここまで

    }

    // ヘッダーナビリストはここまで

  }
}

//=====================================
// spヘッダーのスタイル
//=====================================
.sp-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  transition: all 0.1s linear;

  @include mixin.pc {
    display: none;
  }

  &.bg-white {
    background-color: variables.$bg__color;
  }

  .header_inner {
    height: 70px;
    align-items: center;
    justify-content: flex-end;

    // ハンバーガーボタン
    .burger-btn_container {
      width: 70px;
      height: 70px;
      padding: 12px;
      flex-shrink: 0;
      cursor: pointer;
      background: variables.$bg__color;
      position: absolute;
      top: 0;
      right: 0;

      .burger-btn {
        height: 100%;
        position: relative;

        .bar {
          display: block;
          width: 100%;
          height: 2px;
          background-color: variables.$instagram-btn__color;
          position: absolute;

          &.bar_top {
            top: 3px;
            left: 0;
          }

          &.bar_middle {
            top: 12px;
            left: 0;
          }

          &.bar_bottom {
            bottom: 22px;
            left: 0;
          }
        }

        .burger-btn_txt {
          width: 100%;
          text-align: center;
          font-size: 1.2rem;
          position: absolute;
          bottom: 0;
          left: 0;
          &.close {
            display: none;
          }
        }
      }

      &.opened {
        .burger-btn {
          .bar {
            &.bar_top {
              top: 10px;
              transform: rotate(30deg);
              transition: transform 0.1s linear;
            }
  
            &.bar_middle {
              display: none;
            }
  
            &.bar_bottom {
              top: 10px;
              transform: rotate(-30deg);
              transition: transform 0.1s linear;
            }
          }
          .burger-btn_txt {
            &.close {
              display: inline;
            }
            &.menu {
              display: none;
            }
          }
        }
      }
    }

    // ハンバーガーボタンはここまで

    // 予約ボタン
    .reserve-btn_wrapper {
      background-color: variables.$reserve-btn__color;
      width: 70px;
      height: 70px;
      display: flex;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 70px;

      .reserve-btn {
        width: 100%;
        padding: 10px 14px;
        color: variables.$accent-txt__color;
        align-items: center;
        font-family: 'Noto Serif JP', serif;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        &::before {
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          margin-bottom: 2px;
          background: url(/common/img/icon_reserve_white.png) center/contain no-repeat;
        }
      }
    }

    // 予約ボタンはここまで

  }

  // ハンバーガーメニュー
  .burger-menu {
    display: none;

    .burger-menu_inner {
      padding: 0 20px;

      // ナビリスト
      .burger-menu_list {
        .burger-menu_list-item {
          margin-top: 25px;
          border-bottom: 1px solid variables.$thin-border__color;
          padding-bottom: 8px;

          &:first-child {
            margin-top: 45px;
          }
        }
      }

      // ナビリストはここまで

      // ボタンとSNSエリア
      .btns-container {
        justify-content: center;

        //予約ボタン
        .reserve_wrapper {
          margin-top: 30px;
          height: 44px;
          margin-right: 22px;

          .reserve-btn_wrapper {
            background-color: variables.$reserve-btn__color;
            height: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 0 15px 0 22px;

            .reserve-btn {
              color: variables.$accent-txt__color;
              padding: 0;
              width: 100%;
              height: 100%;
              font-family: 'Noto Serif JP', serif;
              font-weight: bold;
              display: flex;
              align-items: center;
              
              &::before {
                display: block;
                content: '';
                background: url(/common/img/icon_reserve_white.png) center/contain no-repeat;
                width: 24px;
                height: 24px;
                margin: 2px 4px 0 0;
              }

              &::after {
                content: '';
                display: block;
                background: url(/common/img/rightArrow_white.png) center/contain no-repeat;
                width: 28px;
                height: 18px;
                margin-left: 8px;
              }
            }
          }
        }

        // 予約ボタンはここまで

        // SNSエリア
        .sns_wrapper {

          .sns-icon_list {
            margin: 30px 0;
            justify-content: center;

            .sns-icon_list-item {
              width: 44px;
              height: 44px;

              &:first-child {
                margin-right: 22px;
              }

              &.line-icon {
                background-color: variables.$line-bland__color;
              }

              &.instagram-icon {
                background-color: variables.$instagram-btn__color;

                .link {
                  display: flex;
                  height: 100%;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;

                  .img_wrapper {
                    width: 28px;
                    align-items: center;
                  }
                }
              }
            }
          }
        }

        // SNSエリアはここまで
      }
      // ボタンとSNSエリアはここまで
    }
  }

  // ハンバーガーメニューはここまで

}