/*reset---------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline:none;
    word-break: break-all;

}

table{
	border-spacing: 0px;
}
a{
    text-decoration:none;
    color:#333333;
}
ul {
    list-style: none;
  }
  input[type="text"]:focus {
    outline: 0;
  }

  input[type="checkbox"]{
      outline: none;
      cursor: pointer;
  }

  select{
    appearance: none;
  }

  ::-ms-expand {	/* select要素のデザインを無効にする（IE用） */
    display: none;
  }

  sub {
    vertical-align: baseline;
  }

  input[type="text"] {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
}
input[type="radio"] {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

button {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}