// ==============================
// 色の定義
// ==============================
$main-txt__color: #222;
$accent-txt__color: #fff;
$movie_bg__color: #000;
$bg__color: #fff;
$reserve-btn__color: #b69f7e;
$instagram-btn__color: #7E776F;
$instagram-bland__color: #e1306c;
$line-bland__color: #00c300;
$thin-border__color: #ccc;
$burger-menu_opened-bg__color: rgba(0, 0, 0, 0.4);
